<p style="text-align:center;color:red">关注加微信，一般不闲聊（直接说事）</p>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 content">
		<img src="https://www.lijiaocn.com/img/invest.jpg"></img>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 content">
		<!-- 底部二维码并列 -->
		<ins class="adsbygoogle"
			 style="display:block"
			 data-ad-client="ca-pub-8176866190626448"
			 data-ad-slot="1398175214"
			 data-ad-format="auto"
			 data-full-width-responsive="true"></ins>
		<script>
			 (adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	{% if page.author %}
	<div><br><a href="{{ site.baseurl }}{{ page.url }}">转载保留网址：{{ site.url }}</a></div>
	{% endif %}
</div>
